body {
  background-color: #525252;
  font-family: 'Press Start 2P', cursive;
}
.header {
  background: #313131;
  color: #ca3e47;
  padding: 0.5rem 0;
}
.header .nav-container .navigation .container-fluid .navbar-nav a {
  color: #ca3e47;
  border-radius: 4px;
  margin: 0 2px;
}

.main-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 66vh;
  background-color: #414141;
}

.main-container h5 {
  color: #ca3e47;
}

.main-container .canvas-container {
  position: relative;
  width: 1026px;
}

.main-container .canvas-container .over-lapping-container {
  background-color: black;
  width: 1024px;
  height: 576px;
  opacity: 0;
  position: absolute;
}

.main-container .canvas-container .battle-interface-container {
  background-color: white;
  height: 130px;
  position: absolute;
  border: 4px black solid;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.main-container
  .canvas-container
  .battle-interface-container
  .attacks-container {
  width: 66.66%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-container
  .canvas-container
  .battle-interface-container
  .attacks-container button {
    border: 0;
    font-size: 16px;
}
.main-container
  .canvas-container
  .battle-interface-container
  .attacks-container button:hover {
    background-color: #ddd;
}

.main-container
  .canvas-container
  .battle-interface-container
  .attack-info-container {
  width: 33.33%;

  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 4px black solid;
}

.main-container
  .canvas-container
  .battle-interface-container
  .attack-info-container
  h1 {
  margin: 0;
  font-size: 16px;
}

.footer {
  width: 100%;
  background-color: #313131;
  color: #ca3e47;
  text-align: center;
  height: 60px;
}
