body {
  background-color: #525252;
  font-family: "Press Start 2P", cursive;
}
.header {
  background: #313131;
  color: #ca3e47;
  padding: 0.5rem 0;
}
.header .nav-container .navigation .container-fluid .navbar-nav a {
  color: #ca3e47;
  border-radius: 4px;
  margin: 0 2px;
}

.main-container {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2rem 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  min-height: 66vh;
  background-color: #414141;
}

.main-container h5 {
  color: #ca3e47;
}

.main-container .canvas-container {
  position: relative;
  width: 1026px;
}

.main-container .canvas-container .over-lapping-container {
  background-color: black;
  width: 1024px;
  height: 576px;
  opacity: 0;
  position: absolute;
  
}

.main-container .canvas-container .monster-info-container {
  background-color: white;
  width: 250px;
  border: 4px black solid;
  padding: 12px;
  position: absolute;
}

.main-container .canvas-container .monster-info-container.enemy-container {
  left: 50px;
  top: 50px;
}

.main-container .canvas-container .monster-info-container.ally-container {
  right: 50px;
  bottom: 150px;
}

.main-container .canvas-container .monster-info-container h4 {
  font-size: 16px;
}

.main-container
  .canvas-container
  .monster-info-container
  .health-bar-container {
  position: relative;
}

.main-container
  .canvas-container
  .monster-info-container
  .health-bar-container
  .health-bar-empty {
  height: 5px;
  background-color: #ccc;
  margin-top: 10px;
}

.main-container
  .canvas-container
  .monster-info-container
  .health-bar-container
  .health-bar-full {
  height: 5px;
  background-color: green;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.main-container .canvas-container .battle-interface-container {
  background-color: white;
  height: 130px;
  position: absolute;
  border: 4px black solid;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.main-container
  .canvas-container
  .battle-interface-container
  .attacks-container {
  width: 66.66%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-container
  .canvas-container
  .battle-interface-container
  .attacks-container
  button {
  border: 0;
  font-size: 16px;
}
.main-container
  .canvas-container
  .battle-interface-container
  .attacks-container
  button:hover {
  background-color: #ddd;
}

.main-container
  .canvas-container
  .battle-interface-container
  .attack-info-container {
  width: 33.33%;

  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 4px black solid;
}

.main-container
  .canvas-container
  .battle-interface-container
  .attack-info-container
  h1 {
  margin: 0;
  font-size: 16px;
}

.main-container .canvas-container .dialog-container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    padding: 12px;
    display: none;
    cursor: pointer;
}

.main-container .controls-container h5 {
  padding-top: 2rem;
}

.footer {
  width: 100%;
  background-color: #313131;
  color: #ca3e47;
  text-align: center;
}

.footer .footer-container {
  padding-top: 2rem;
  height: 100px;
}
